<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bai.nfc">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefunListActicvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BalanceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data
                    android:host="*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NFCBaseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.RingOrderDscActivity" />
        <activity android:name=".activity.GatheringActivity" />
        <service
            android:name=".service.ScreenService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>